### Defaults
ssh/
!ssh/config
backup/
bin/ngrok


## tmux
tmux/
!tmux/plugins/tpm


## vscode
vscode/extensions


## config
config/heroku
config/configstore
config/yarn
config/direnv
config/robomongo
config/hub
config/karabiner/assets
config/gocode
config/gcloud
