[submodule "prezto"]
	path = zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "fonts/RictyDiminished"]
	path = fonts/RictyDiminished
	url = git@github.com:edihbrandon/RictyDiminished.git
